.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
  height: 100vh;
  padding: 1.5rem;
}

.video{
	width: 100%;
	object-fit: cover;
	height: 100%;
  border-radius: 10px;

}

