
.tools-container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  /* background-color: pink; */
  bottom: 2.5rem;
  width: 65vw;
  padding: 0.5rem;
}


.tools-container-video, .tools-container-chat{
  display: flex;
  gap: 1rem;
}